@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  background: #141414;
}
.hover_line::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
  top: -1.25rem;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.3s;
}
.hover_line:hover::before {
  transform: scaleX(1);
}
.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #978afc;
  top: -1.25rem;
  left: 0;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}